/* prevent adjustment of font size after orientation changes in IE on window phone and in iOS*/
html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*apply natural box layout on all elements*/
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*------------body-----------------*/
body{
    background-color:#476070 !important;
.header{
background-color:#DEB8C1;
background-size: cover;
background-position-x:top  ;

height:290px;    
}
.navbarContent{
    float: right;
    ul li{
        display: inline;
        font-family:$defaultfont;
        font-size: $defaultfontsize;
        
    }
    ul li a {
        color:white;
        text-decoration: none;
        float: right;
        margin-right:100px;
        margin-top:50px;
        
        
    }
    ul li a:hover{
        box-shadow: 0 4px 2px -2px gray;
    


    }

   
}


.main-content{
      height:700px;
      width:300px;
      background-color: rgba(29, 31, 26, 0.5);
     


    .outline{
        height:200px;
        width:300px;
        margin: 0;
        position: absolute;
        top: 50%;
        left:15%;
        transform: translate(-50%, -50%);
        font-size: $defaultfontsize;
        text-transform: lowercase;
        border: 2px solid white;
        text-align: center;



    }
    p{
    padding-top:50px;
    color:white;
    font-family: $defaultfont;
    background-color: rgba(29, 31, 26, 0.5);
    font-style: italic;

    }

}









}